@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Exo", sans-serif;
    background: #fff;
}

.header {
    width: 100%;
    height: 9.4rem;
    padding: 0 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(28, 29, 34, 0.08);
}

.header__cta {
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

.header__title>h1 {
    font-size: 2rem;
}

.header__cta svg path {
    fill: #1C1D22;
}

.header__date {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.header__date>p {
    font-size: 1.6rem;
    font-weight: 600;
    color: rgba(28, 29, 34, 0.9);
    opacity: 0.5;
}

.header__profile {
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    background-color: #1C1D22;
}